header {
	display: flex;
	background: white url(../images/holbertonlogo.png) no-repeat; 
	background-position: left 20px center;
	height:70px; 
	width:100%;
	border-bottom: 1px solid #CCCCCC;
	background-repeat: no-repeat;
}
